*.DS_Store
*.opensdf
*.sdf
debug/
release/
DebugWebEngine/
ReleaseWebEngine/
GeneratedFiles/
*.suo
*.user
*.TMP
*.pd_
*.cache
moc_*.cpp
ui_*.h

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

project.pbxproj
*.mak
*.db
.vs/
